.home {
    display: flex;
    flex-direction: column;
    padding-top: 3.8rem;
    padding-left: 9rem;
    padding-right: 6.2rem;
    gap: 1.6rem
}

.category-section{
    padding-top: .5rem;
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.category-txt {
    font-size: 28px;
    font-weight: 500;
    color: black
}

.horizontal-divider {
    height: 1px;
    background-color: #e0e0e0;
    width: 100%; 
  }
  