.tab-card-btn {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: black;
    border-radius: 10px;
    background-color: white;
    height: 4.4rem;
    width: 13rem;
    padding: .6rem ;
    align-items: center;
    box-sizing: border-box;
    font-weight: 500;
    gap: .6rem;
}

.tab-card-btn:hover{
    border: 1px solid #FCEFF5;
    box-shadow: 0px 0px 15px 2px #00000014;
}

.tab-card-btn.active-tab {
    background-color: #fbeaec !important; /* Light pink tone */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
  }


.icon-container {
    /* background-color: #F4CBDF; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.3rem;
    height: 3.1rem;
}