.header-container {
    display: flex;
    flex-direction: row;
    height: 9.5rem;
    width: 100%;
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: .95;
    background-color: #111216;
    border-radius: 0 0 3rem 0;
    padding-left: 9rem;
    padding-right: 2rem;
    position: relative;
}

.tab-container {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    height: 45%;
}

.tab-container p {
    font-size: 1.125rem;
}

.tab-button {
    padding:  .75rem 0  1.2rem;
    color: white;
    width: 5.5rem;
    background-color: transparent;
    border-radius: 0 0 .75rem .75rem;
}

.tab-button:hover {
    background-color: #312f2f;
    cursor: pointer;
  }

.tab-button.active{
    background-color: #F4CBDF;
    color: black;

}

.mode-switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: .05;
    padding-bottom: 1rem;
}